@charset "UTF-8";
/* CSS Document */

.row2 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0;
  *zoom: 1;
	display: block;
	background-color: #FFF;
	filter: alpha(opacity=85);
	opacity: 0.85;
}
  .row2:before, .row2:after {
    content: " ";
    display: table; }
  .row2:after {
    clear: both; }
  .row2.collapse > .column,
  .row2.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row2.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row2 .row2 {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row2 .row2:before, .row2 .row2:after {
      content: " ";
      display: table; }
    .row2 .row2:after {
      clear: both; }
    .row2 .row2.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row2 .row2.collapse:before, .row2 .row2.collapse:after {
        content: " ";
        display: table; }
      .row2 .row2.collapse:after {
        clear: both; }

.row3 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0;
  *zoom: 1;
	display: block;
	z-index: -100;
	height: auto;
	position: absolute;
	width: 100%;
	margin: -130px 0 0 0;
}
  .row3:before, .row3:after {
    content: " ";
    display: table; }
  .row3:after {
    clear: both; }
  .row3.collapse > .column,
  .row3.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row3.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row3 .row3 {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row3 .row3:before, .row3 .row3:after {
      content: " ";
      display: table; }
    .row3 .row3:after {
      clear: both; }
    .row3 .row3.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row3 .row3.collapse:before, .row3 .row3.collapse:after {
        content: " ";
        display: table; }
      .row3 .row3.collapse:after {
        clear: both; }

.row4 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0;
  *zoom: 1;
	display: block;
	z-index: -100;
	height: auto;
	position: relative;
	max-width: 100%;
	margin: 0px 0 0 0;
	overflow: hidden;
}
  .row4:before, .row4:after {
    content: " ";
    display: table; }
  .row4:after {
    clear: both; }
  .row4.collapse > .column,
  .row4.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row4.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row4 .row4 {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row4 .row4:before, .row4 .row4:after {
      content: " ";
      display: table; }
    .row4 .row4:after {
      clear: both; }
    .row4 .row4.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row4 .row4.collapse:before, .row4 .row4.collapse:after {
        content: " ";
        display: table; }
      .row4 .row4.collapse:after {
        clear: both; }

.rowHome1 {
	background-color: #CCCCCC;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	display:block;
	z-index: 2;
	width: 100%;
	margin-top: 400px;
}
.rowHome2 {
	background-color: #CCCCCC;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	display:block;
	z-index: 2;
	width: 100%;
	margin-top: 0px;
}
.rowHome2b {
	background-color: #5f5f67;
	display:block;
	z-index: 100;
	width: 100%;
}
.rowHome3 {
	background-color: #d9002b;
	display:block;
	z-index: 100;
	width: 100%;
}
.rowHome4 {
	background-color: #e8eae9;
	display:block;
	z-index: 100;
	width: 100%;
}
.rowHome5 {
	background-color: #CCCCCC;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	display:block;
	z-index: 100;
	width: 100%;
	margin-top:0px;
}
.titleLarge1 {
	font-size: 2.4em;
	color: #d9002b;
	padding: 0px 0 10px 0;
}
.titleLarge2 {
	font-size: 2.4em;
	color: #fff;
	padding: 10px 0 10px 0;
}
.rowHome2 p, .rowHome3 p{
	color: #000;
}.rowHome4 p {
	color: #333;
}
.contactDetailsContainer {
	text-align: right;
	padding: 20px 20px 20px 0px;
	line-height: 1.2;
}
.homeRoundImageHolder {
	text-align: center;
	margin: 10px 0 10px 0;
}
.homeRoundImageHolderL {
	float: left;
}
.homeRoundImageHolderR {
	float: right;
}
.clearBox1 {
	padding: 83px 10px 0px 20px;
}
.rightNaviTitle {
	font-size: 1.6em;
	color: #d9002b;
	padding: 0px 0 10px 0;
}
.rightNaviItem {
	line-height: 1.5em;
	font-size: 1.1em;
	background-image: ../slices/bg-dot1.gif;
	background-position-y: bottom;
	background-repeat: repeat-x;
	background-image: url(../slices/bg-dot1.gif);
	padding-bottom: 5px;
	}
.rightNaviItem a {
	color: #333;
	text-decoration: none;
}
.rightNaviItem a:visited {
	color: #333;
	text-decoration: none;
}
.rightNaviItem a:hover{
	color: #fff;
	background-color: #d9002b;
	text-decoration: none;
}
.rightNaviItem a:active {
	color: #fff;
	background-color: #333;
	text-decoration: none;
}
.rightNaviSubItem {
	line-height: 1.5em;
	font-size: 0.9em;
	background-position-y: bottom;
	background-repeat: repeat-x;
	background-image: url(../slices/bg-dot1.gif);
	padding: 4px 0 5px 20px;
	
	}
.rightNaviSubItem a {
	color: #333;
	text-decoration: none;
	display:block;
	
}
.rightNaviSubItem a:visited {
	color: #333;
	text-decoration: none;
}
.rightNaviSubItem a:hover{
	color: #fff;
	/*background-color: #d9002b;*/
	text-decoration: none;
	display:block;;
}
.rightNaviSubItem:active {
	color: #fff;
	background-color: #333;
	text-decoration: none;
}
.bg-arrow1 {
	background-repeat: no-repeat;
	background-image: url(../slices/bg-arrow1.png);
	background-position: left center;
}
.bg-arrow1 a {
	color: #333;
	text-decoration: none;
	display:block;
	
}
.bg-arrow1 a:visited {
	color: #333;
	text-decoration: none;
}
.bg-arrow1 a:hover{
	color: #fff;
	background-color: #d9002b;
	text-decoration: none;
	display:block;;
}
.bg-arrow1 a:active {
	color: #fff;
	background-color: #333;
	text-decoration: none;
}
.catItem {
	padding: 0px 0 0px 0;
}	
.catItemImgContainer {
	float: left;
	width: 30%;
	}
.catItemDescContainer {
	float: right;
	width: 70%;
	padding-left: 20px;
	}
.catItemImg {
	width: 100%;
	padding: 0 0 10px 0;
	}
.catItemTitle {
	font-size: 1.4em;
	color: #d9002b;
	padding: 0px 0 10px 0;
	}
.catItemDesc {
	
	}	
.breadcrumb {
	color: #000;
	font-size: 0.8em;
	padding: 10px 0 0 0;
}
.breadcrumb a {
	color: #000;
	text-decoration: none;
}
.breadcrumb a:visited {
	color: #000;
	text-decoration: none;
}
.breadcrumb a:hover{
	color: #d9002b;
	text-decoration: none;
}
.breadcrumb a:active {
	color: #000;
	text-decoration: none;
}
.avatar {
	border: 3px solid white;
	height:232px;
	width: 232px;
	display: block;
	border-radius: 116px;
	/*box-shadow: 1px 1px 1px rgba(0,0,0, 0.7);*/
}

.avatar {
        background: rgba(0, 0, 0, 0.2);
}

.avatar img {
        border-radius: 116px;
        width: 226px;
        height: 226px;
        margin: 0px; /* centers the image in the parent element */
}
.thumbTitle {
	font-weight: 400;
	}
